.nav-buttons {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #081e29;
    display: flex;
    padding: 12px 20px;
    gap: 20px;
    justify-content: flex-end;
    z-index: 1000;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#HOME {
    padding-top: 100px;  /* Stops text from hiding under the nav */
    display: flex;       /* Puts text and image side-by-side */
    align-items: center; /* Centers them vertically */
    gap: 50px;           /* Puts a simple gap between text and image */
    padding-left: 5%;    /* Moves everything slightly away from the left edge */
}

.text {
    flex 1;
}
#HOME img {
    width: 300px;        /* Sets a basic size for the moon */
    height: auto;
    border-radius: 10px;
}
#HOME {
    background-color: white;
}
#ABOUT {
    padding-top: 100px;
    display: flex;
    flex-direction: row-reverse; /* This flips the image to the left and text to the right */
    align-items: center;
    gap: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f9f9f9;  /* A very light grey so it looks different from HOME */
}

#ABOUT {
    flex-direction: row-reverse; /* Image on left, text on right */
    background-color: #f9f9f9;
}
/* Contacts Section */
#CONTACTS {
    display: block; /* Overrides flex for the footer */
    text-align: center;
    background-color: #081e29;
    color: white;
}
